__pycache__
*.pyc
.idea
*.un~

# These can be created when builds run
/build
/download
/toolchain
/logs
/src


docs/build

/mayflower/_build/*
!/mayflower/_build/README
/mayflower/_download
/mayflower/_toolchain/*
!/mayflower/_toolchain/*-ct-ng.config
!/mayflower/_toolchain/README
!*/_toolchain/*ct-ng.config
/mayflower/_logs
/mayflower/_src

mayflower.egg-info

relok8.py

# pyenv
.python-version