__pycache__
*.pyc
.idea
*.un~
venv

# These can be created when builds run
/build
/download
/toolchain
/logs
/src


docs/build

/mayflower/_build/*
!/mayflower/_build/README
/mayflower/_download
/mayflower/_toolchain/*
!/mayflower/_toolchain/x86_64
!/mayflower/_toolchain/x86_64/*-ct-ng.config
!/mayflower/_toolchain/aarch64
!/mayflower/_toolchain/aarch64/*-ct-ng.config
!/mayflower/_toolchain/README

# Default log location for `mayflower build`
/mayflower/_logs

# Default location for sources downloaded by `mayflower build`
/mayflower/_src

# Location of native python used when cross compiling builds
/mayflower/_native

mayflower.egg-info

relok8.py

# pyenv
.python-version

# nox
.nox
artifacts
