# Copyright 2022 VMware, Inc.
# SPDX-License-Identifier: Apache-2

__pycache__
*.pyc
.idea
*.un~
venv

# These can be created when builds run
/build
/download
/toolchain
/logs
/src


docs/build

/relenv/_build/*
!/relenv/_build/README
/relenv/_download
/relenv/_toolchain/*
!/relenv/_toolchain/x86_64
!/relenv/_toolchain/x86_64/*-ct-ng.config
!/relenv/_toolchain/aarch64
!/relenv/_toolchain/aarch64/*-ct-ng.config
!/relenv/_toolchain/README

# Default log location for `relenv build`
/relenv/_logs

# Default location for sources downloaded by `relenv build`
/relenv/_src

# Location of native python used when cross compiling builds
/relenv/_native

relenv.egg-info

relok8.py

# pyenv
.python-version

# nox
.nox
artifacts

# neovim temp files
*~
