name: Deploy Artifacts

on:
  workflow_call:
    inputs:
      version:
        required: false
        type: string
        description: Version to author
    secrets:
      SSHKEY:
        required: true


jobs:
  upload_artifacts:
    name: Deploy Artifacts ${{ matrix.python }}-${{ matrix.arch }}-${{ matrix.platform }}
    runs-on:
      - self-hosted
      - linux
      - repo-release
    environment: release
    strategy:
      matrix:
        python:
          - 3.10.11
          - 3.11.3
        platform:
          - linux-gnu
          - win
          - macos
        arch:
          - aarch64
          - amd64
          - x86_64
          - x86
        exclude:
          - platform: linux-gnu
            arch: amd64
          - platform: linux-gnu
            arch: x86
          - platform: win
            arch: aarch64
          - platform: win
            arch: x86_64
          - platform: macos
            arch: aarch64
          - platform: macos
            arch: amd64
          - platform: macos
            arch: x86
    env:
      SSH_AUTH_SOCK: /tmp/ssh_agent.sock
      SSHKEY: ${{ secrets.SSHKEY }}
    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v3
      with:
        name: ${{ matrix.python }}-${{ matrix.arch }}-${{ matrix.platform }}.tar.xz
        path: release-artifacts/

    # - name: Setup Private Key
    #   run: |
    #     ssh-agent -a $SSH_AUTH_SOCK > /dev/null
    #     echo "${SSHKEY}" | tr -d '\r' | ssh-add -

    # - name: Setup Private Key
    #   run: |
    #     mkdir -p /home/runner/.ssh
    #     touch /home/runner/.ssh/known_hosts
    #     ssh-keyscan d1.h4.cx >> /home/runner/.ssh/known_hosts

    # - name: Ensure Build Directory Exists
    #   run: |
    #     ssh cicd@d1.h4.cx mkdir -p /var/www/woz.io/relenv/${{ inputs.version }}/build/

    - name: Install `awscli`
      run: |
        pip3 install awscli

    - name: "Deploy Python Build: ${{ matrix.python }}-${{ matrix.arch }}-${{ matrix.platform }}.tar.xz"
      run: |
        aws s3 cp release-artifacts/* s3://salt-project-prod-salt-artifacts-release/relenv/${{ inputs.version }}/build/
