name: Pre-Commit

on:
  workflow_call:
    inputs:
      changed-files:
        required: true
        type: string
        description: JSON string containing information about changed files

jobs:
  Pre-Commit:
    name: Relenv

    runs-on: ubuntu-latest

    container:
      image: python:3.8.6-slim-buster

    steps:

      - name: Install System Deps
        run: |
          echo "deb http://deb.debian.org/debian buster-backports main" >> /etc/apt/sources.list
          apt-get update
          apt-get install -y enchant git gcc make zlib1g-dev libc-dev libffi-dev g++ libxml2 libxml2-dev libxslt-dev libcurl4-openssl-dev libssl-dev libgnutls28-dev
          apt-get install -y git/buster-backports

      - uses: actions/checkout@v3

      - name: Install Pre-Commit
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit
          pre-commit install --install-hooks

      - name: Check ALL Files On Branch
        if: github.event_name != 'pull_request'
        run: |
          pre-commit run --show-diff-on-failure --color=always --all-files

      - name: Check Changed Files On PR
        if: github.event_name == 'pull_request' && fromJSON(inputs.changed-files)['repo'] == 'true'
        run: |
          pre-commit run --show-diff-on-failure --color=always --files ${{ join(fromJSON(inputs.changed-files)['repo_files'], ' ') }}

      - name: Set Exit Status
        if: always()
        run: |
          mkdir exitstatus
          echo "${{ job.status }}" > exitstatus/${{ github.job }}

      - name: Upload Exit Status
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: exitstatus
          path: exitstatus
          if-no-files-found: error
