name: Toolchain

on:
  workflow_call:
    inputs:
      changed-files:
        required: true
        type: string
        description: JSON string containing information about changed files


jobs:

  build_toolchain:
    name: "Toolchain ${{ matrix.target }} on ${{ matrix.host }}"

    runs-on:
      - ${{ (contains(matrix.host, 'x86_64') && 'linux-x86_64') || 'linux-arm64' }}

    #if: fromJSON(inputs.changed-files)['toolchain'] == 'true'

    strategy:
      fail-fast: false
      matrix:
        host:
          - x86_64
          - aarch64
        target:
          - x86_64
          - aarch64

    concurrency:
      group: "${{ github.head_ref }}-${{ matrix.host }}-${{ matrix.target }}-toolchain"
      cancel-in-progress: true

    env:
      RELENV_DATA: ${{ github.action_path }}

    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libtool-bin linux-headers-$(uname -r) help2man python3-all flex bison texinfo unzip gawk libncurses-dev wget rsync

      - name: Build toolchain
        # python3 -m relenv toolchain build --arch=${{ matrix.target }}
        env:
          RELENV_FETCH_VERSION: 0.13.4
        run: |
          python3 -m relenv toolchain fetch --arch=${{ matrix.target }}

      - name: Logs toolchain ${{ matrix.target }} on ${{ matrix.host }}
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ matrix.host }}-${{ matrix.target }}-linux-gnu-toolchain-logs
          path: toolchain/build.log
          retention-days: 5

      - name: Create Tarball
        run: |
          tar -C toolchain -cJf toolchain-${{ matrix.host }}-${{ matrix.target }}-linux-gnu.tar.xz  ${{ matrix.target }}-linux-gnu

      - name: Toolchain build artifact
        uses: actions/upload-artifact@v4
        with:
          name: toolchain-${{ matrix.host }}-${{ matrix.target }}-linux-gnu.tar.xz
          path: toolchain-${{ matrix.host }}-${{ matrix.target }}-linux-gnu.tar.xz
          retention-days: 5
